body {
    background-color: #F6F6F7;
}

#categories-container {
    display: flex;
    justify-content: space-between;
}

.pointer-cursor {
    cursor: pointer;
}



@media screen and (max-width:520px) {
    #categories-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* flex-direction: column; */
        /* align-items: center; */
    }
}


/* Extra Test*/